---
layout: base
---

<main>
    <img id="main-img" src="/img/Refrigeration.jpg">
    <p>Since 2015 Vladmark Trade S.R.O. has been specialized in the delivery of refrigerant gases.<br> 
        The goods are supplied directly form the manufacturer, no third-party resellers are involved.<br> 
        All our products fully comply with the EU regulations.</p>
    
</main>