---
layout: base

product: {
    id: 'r404a',
    title: "Refrigerant R-404A",
    description: 'R-404A is a pseudo-azeotropic mixed refrigerant composed of the three ingredients R-125, R-134a, and R-143a, and was developed as a substitute refrigerant for R-502 and R-22, used in commercial refrigerator equipment for low and medium temperature ranges. It possesses outstanding properties as a refrigerant for showcases, refrigerated vehicles, ice makers, and other equipment.',
    image: '/img/product/r404a.png',
    safety_doc: '/docs/MSDS_R404.pdf'
}
---

{% extends "products.njk" %}