---
layout: base

product: {
    id: 'r507',
    title: "Refrigerant R-507",
    description: 'R-507 is an azeotropic mixture consisting of R-125 and R-143a. Their thermodynamic characteristics constitute the ideal replacement for R-502 in refrigeration sector at low and medium temperatures. It is characterized by its chemical stability, its good thermodynamic properties and low toxicity. The main application is in low and medium temperatures for new installations.',
    image: '/img/product/r507.png',
    safety_doc: '/docs/MSDS_R507.pdf'
}
---

{% extends "products.njk" %}