---
layout: base

product: {
    id: 'r407c',
    title: "Refrigerant R-407c",
    description: 'R-407C is a mixture of hydrofluorocarbons used as a refrigerant. It is a zeotropic blend of difluoromethane (R-32), pentafluoroethane (R-125), and 1,1,1,2-tetrafluoroethane (R-134a). Difluoromethane serves to provide the heat capacity, pentafluoroethane decreases flammability, tetrafluoroethane reduces pressure. This refrigerant is intended as a replacement for R-22. R-22 production will be phased out by 2020 as per the Montreal protocol.',
    image: '/img/product/r407c.png',
    safety_doc: '/docs/MSDS_R407.pdf'
}
---

{% extends "products.njk" %}