---
layout: base

product: {
    title: "Refrigerant R-134a",
    description: 'Refrigerant 134а (Tetrafluoroethane, R134а, Freon 134а, Halocarbon 134a) is a colorless gas with weak specific odor. It is the main substitute of Freon R12 in refrigeration systems working at middle temperatures. It is used as a refrigerant in refrigeration, industrial equipment, air conditioning systems, and as a propellant (gas displacer) and blowing agent for plastic foams.',
    image: '../img/product/r134a.png'
}
---

{% extends "products.njk" %}