<main class="product-page">
    <div class="product-col1">
        <p class="product-title">{{ product.title}}</p>
        <p class="product-description">{{ product.description }}</p>
        <p class="product-safety">
            <a href="{{ product.safety_doc }}" target="_blank">
                View Material Safety Data Sheet</a>
        </p>
    </div>
    <div class="product-col2">
        <img class="product-image" src="{{ product.image }}">
    </div>
</main>

<script>
    var activeElements = document.getElementsByClassName('active');
    for (var activeElement in activeElements) {
        activeElement.className = '';
    }
    document.getElementById('{{ product.id }}').className = 'active';
</script>